:root{
	--font_rob : 'Roboto', sans-serif;
    --font_open: 'Open Sans', sans-serif;
    --color_1: #fefefe;
    --color_2: #ffd741;
}

body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    height: 100%;
} */

body{
    margin: 0;
    padding: 0;
    position: relative;
    height: 600vh;
}

img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

a{
    text-decoration: none;
}

.page{
    height: 100%;
}

.device-bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.device-bar-image{
    margin-left: 10px;
}

.device-bar-menu{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.device-bar-menu a{
    padding: 4px;
}

.device-bar-close{
    width: 123px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.device-bar-close a{
    width: 26px;
    height: 26px;
    padding: 4px;
}

.device-bar-menu-PC{
    background-color: #c9e4f9;
}

.device-bar-menu a:hover{
    background-color: #e2f0fc;
}

.device-bar-close a:hover{
    background-color: #e2f0fc;
}

.content-holder{
    height: calc(100% - 70px);
}

.content-1{
    height: 607px;
    position: relative;
    background-color: var(--color_2);
}

.content-1-bar{
    margin: 0px 189.6px;    
    height: 80px;
    width: calc(100% - 2*189.6px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0px;
}

.content-1-bar-logo{
    width: 64px;
    height: 32px;
}

.content-1-bar-home{
    padding: 10px 20px;
    font-family: var(--font_open);
    color: #999999;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-1-bar-home:hover{
    color: #4d4d4d;
}

/* .content-1-bar-home:visited{
    color: #4d4d4d;
} */

.content-1-summary{
    height: 100%;
    width: calc(100% - 189.6px);
    margin-left: 189.6px;
    display: flex;
    justify-content: space-between;
}

.content-1-summary-headlines{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 460px;
}

.content-1-summary-headlines h3{
    color: #111111;
    font-family: var(--font_rob);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 36px;
}

.content-1-summary-headlines h1{
    color: #312933;
    font-family: var(--font_rob);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 52.8px;
}

.content-1-summary-headlines p{
    color: #111111;
    font-family: var(--font_open);
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}

.content-1-summary-headlines a{
    color: #391440;
    font-family: var(--font_open);
    font-weight: 400;
    font-size: 16px;
    border-bottom: 1px solid #404040;
}

.content-1-summary-image{
    padding-left: 30px;
}

.content-1-summary-image img{
    width: 100%;
    height: 100%;
}

.content-2{
    height: 920.6px;
    margin: 0px 189.6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-2-headlines{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-2-headlines h2{
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 700;
    height: 52.8px;
    color: #111111;
    text-transform: uppercase;
}

.content-2-headlines p{
    margin-top: 17px;
    font-family: var(--font_open);
    color: #111111;
    line-height:25.6px;
    font-size: 16px;
    font-weight: 400;
}

.content-2-reasons{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-grow: 1;
}

.content-2-reason{
    width: 33%;
    height: 337.6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.content-2-reason h1{
    position: absolute;
    left: 31%;
    z-index: -1;

    color: #f9e79b;
    font-family: var(--font_rob);
    font-size: 250px;
    font-weight: 900;
}

.content-2-reason h3{
    color: #111111;
    font-family: var(--font_rob);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 10px;
}

.content-2-reasons p{
    color: #111111;
    font-family: var(--font_open);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 40px;
    text-align: center;
    height: 146.8px;
}

.content-3{
    height: 600px;
    background-color: #efefef;
    display: flex;
    justify-content: flex-start;
}

.content-3-summary{
    width: 620.475px;
    height: 100%;
    padding: 30px;
    margin-left: 189.6px;
}

.content-3-summary h1{
    margin-top: 80px;
    color: #f1c50e;
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 52.8px;
    text-align: left;
}

.content-3-summary h5{
    color: #111111;
    font-family: var(--font_rob);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.content-3-summary p{
    color: #111111;
    font-family: var(--font_open);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 28.8px;
    text-align: left;
}

.content-3-summary-freepik{
    color: #391440;
    font-family: var(--font_open);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 25.6px;
    text-align: left;
}

.content-3-summary-button{
    display: inline-block;
    margin-right: 369.837px;
    margin-top: 36px;
    padding: 10px 51px;
    width: 191.637px;
    height: 45.6px;
    background-color: #f1c50e;
    color: #111111;
    font-family: var(--font_rob);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    cursor: pointer;
    text-align: center;   
}

/* .content-3-summary-button:visited{
    background-color: #ffffff; 
} */

.content-3-summary-button:hover{
    background-color: #ffffff;
}

.content-3-image{
    background-color: brown;
    flex-grow: 1;
    overflow: hidden;
}

.content-3-image img{
    height: 100%;
}

.content-4{
    height: 564px;
    position: relative;
}

.content-4-background, .content-4-background img{
    height: 100%;
}

.content-4-summary{
    position: absolute;
    top: 0px;

    color: #ffffff;
    margin: 0px 189.6px;
    height: 100%;
    width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-4-summary h6{
    margin-top: 60px;
    line-height: 28.8px;
    font-family: var(--font_rob);
    font-size: 24px;
    font-weight: 400;
}

.content-4 p{
    margin-top: 20px;
    font-size: 16px;
    font-family: var(--font_open);
    font-style: normal;
    font-weight: 400;
}

.content-4 h2{
    margin-top: 20px;
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 52.8px;
}

.content-5{
    height: 491px;
    margin: 0px 189.6px;
    position: relative;
}

.content-5-summary{
    height: 431px;
    width: 798px;
    padding: 30px;
    margin: 60px 0px;
}

.content-5-summary h2{
    color: #111111;
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    margin-top: 30px;
}

.content-5-summary p{
    font-size: 16px;
    font-family: var(--font_open);
    text-align: left;
    font-weight: 400;
}

.content-5-image{
    height: 431px;
    width: 342px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.content-5-image img{
    height: 100%;
    width: 100%;
}

.content-6{
    margin: 0px 189.6px;
    height: 413px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-6 h2{
    color: #111111;
    margin-top: 55px;
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: center;
}

.content-6 p{
    color: #111111;
    width: 460px;
    margin-top: 20px;
    font-family: var(--font_open);
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
    text-align: center;
}

.content-6-images{
    margin-top: 26px;
    height: 153px;
    display: flex;
}

.content-6-image{
    width: 228px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    height: 747px;
    padding: 16.4px 0px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-banner{
    margin-top: 18px;
    height: 220px;
    position: relative;
    z-index: 1;
}

.connection{
    color: #404040;
    font-family: var(--font_rob);
    font-size: 200px;
    font-weight: 900;
    line-height: 220px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.get-in-touch{
    color: #f1c50e;
    font-family: var(--font_rob);
    font-size: 48px;
    font-weight: 900;
    line-height: 52.8px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content{
    height: 476.2px;
    margin: 0px 189.6px;
    display: flex;
}

.contact-owner-info{
    width: 380px;
    height: 100%;
    padding: 15px 30px;
    color: #ffffff;
}

.contact-owner-info h2{
    font-family: var(--font_rob);
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: left;
}

.contact-owner-info p{
    margin-top: 19px;
    font-family: var(--font_open);
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
}

.contact-owner-info i{
    margin-top: 30px;
    color: #f1c50e;
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.contact-owner-info h6{
    margin-top: 20px;
    font-family: var(--font_rob);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

.contact-customer-info{
    width: 760px;
    height: 100%;
    padding: 25px 30px;
}

input[type = text], input[type = email]{
    border: 2px solid #ffffff;
    background-color: #000;
    height: 49.6px;
    width: 680px;
    padding: 10px 12px;
    margin-bottom: 19px;
    cursor: text;
    font-family: var(--font_open);
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25.6px;
    overflow: visible;
    color: #ffffff;
}

textarea{
    border: 2px solid #ffffff;
    background-color: #000;
    width: 680px;
    height: 126.4px;
    padding: 10px 12px;
    margin-bottom: 19px;
    cursor: text;
    font-family: var(--font_open);
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25.6px;
    color: #ffffff;
    resize: none;
}

.contact-customer-info span{
    width: 680px;
    height: 25.6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    margin-bottom: 19px;
}

.contact-customer-info span input{
    height: 12.8px;
    width: 12.8px;
    margin: 0;
}

.contact-customer-info span p{
    font-family: var(--font_open);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-left: 5px;
    text-align: left;
}

.contact-customer-info span a{
    font-family: var(--font_open);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #e5bfed;
    text-decoration-style:solid ;
    text-decoration-thickness: auto ;
}

.contact-customer-info span a:hover{
    color: #a1a1a1;
}

input[type = submit]{
    width: 121.312px;
    height: 45.6px;
    padding: 10px 30px;
    margin: 1px 0px;
    background-color: #f1c50e;
    border: none;
    border-radius: 30px;
    color: #111111;
    cursor: pointer;
    font-family: var(--font_open);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    text-align: center;
    text-decoration-style:solid ;
    text-decoration-thickness:auto ;
    text-transform: uppercase;
}

input[type = submit]:hover{
    background-color: #d9b10d;
}

.footer{
    height: 240.4px;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-summary{
    padding: 49px 0px;
    width: 417px;
    font-family: var(--font_open);
    font-size: 14px;
    line-height: 22.4px;
    text-align: center;
}

.footer-owner{
    padding: 16px;
    height: 97.6px;
    font-family: var(--font_open);
    font-size: 12.8px;
    line-height: 20.8px;
    text-align: center;
    text-decoration-style:solid;
    text-decoration-thickness: auto;
    display: flex;
    align-items: center;
}

.footer-owner-summary a{
    text-decoration: underline;
    color: #e5bfed;
}

.footer-owner-summary a:hover{
    color: #a1a1a1;
}