main{
    margin: 0px 5%;
    margin-top: 50px;
    display: flex;
}

#category{
    width: 100%;
}

.category-heading{
    margin-bottom: 24px;
}

.category-heading a{
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    color: #343434;
}

.bookshelf{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.book{
    width: 260px;
    height: 390px;
    margin: 20px;

    cursor: pointer;

    position: relative;
}

.book-image{
    height: 100%;
}

.book-image img{
    height: 100%;
}

.book-overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;

    transition: all 0.2s ease-in;
}

.book:hover .book-overlay{
    opacity: 1;
}

@media only screen and (max-width: 960px){
    .category-heading{
        text-align: center;
    }
}

@media only screen and (max-width: 960px){
    #category{
        width: 70%;
    }
}