*{
    margin: 0;
    box-sizing: border-box;
    display: block;
    font-weight: 300;
}
title{
    display: none;
}
.card{
    background-color: #FFFFFF;
    width: 364.4px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    box-shadow: #00000026 0px 4px 4px 0px;
    margin: auto;
}

.info~*:not(button){
    padding: 0px 24px;
    line-height: 21.6px;
    font-size: 14.4px;
    color: #464646;
}

.year{
    height: 30px;
    background-color: #ef5321;
    padding: 3px 0px;
}

.time{
    height: 130px;
    background-color: #fe6d3f;
}

.year,.time{
    text-align: center;
    color: #FFFFFF;
    font-size:16px;
    display: grid;
    align-content: center;   
}

.year,.month{
    font-size: 16px;
}

h1.day{
    font-size:40px;
}

a{
    padding: 16px 24px 0px;
    font-weight: 400;
    font-size: 20.8px;
    text-decoration: none;
    color: #464646 ;
    line-height: 24px;
}

span,span + p{
    display: inline;
}
.teacher ~ div{
    margin-top: 5px ;
}

.teacher{
    padding-bottom: 7px;
    font-size: 14.4px;
}

.location{
    padding-bottom: 7px;
    
}

button{
    padding-left: 0px;
    margin-left: 24px;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 251.7px;
    border: none;
    text-decoration: none;
    background-color: #0000;
    color: #3c78e8;
    line-height: 24px;
    cursor: pointer;
    border-top: 0.5px solid #c4c4c4e3;
}