textarea:focus, input:focus{
    outline: none;
}

.section-1{
    margin-top: 107px;
    margin-bottom: 150px;
    width: 100%;
}

.remove-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.remove-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 250;
    background-color: #343434;
    opacity: 30%;
}

.remove-contain{
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 300;
    background-color: #ffffff;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove-contain h2{
    text-align: center;
}

.remove-name h3{
    color: #666666;
    margin-top: 30px;
    text-align: center;
}

.remove-detail{
    margin-top:12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-detail p{
    margin: 0 7px;
    color: #666666;
}

.remove-button{
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button button{
    transition: all 0.2s ease-out;
    height: 40px;
    width: calc(50% - 40px);
    border: 1px solid transparent;
}

.cancel{
    background-color: #ffffff;
    border-color: #000000 !important;
}

.remove{
    background-color: #000000;
    border-color: #000000 !important;
}

.remove p{
    color: #ffffff;
}

.cancel:hover{
    background-color: #000000;
}

.cancel:hover p{
    color: #ffffff;
}

.remove:hover{
    background-color: #ffffff;
    border-color: #000000 !important;
}

.remove:hover p{
    color: #343434;
}

.section-content{
    width: 90%;
    margin: 0 5%;
}

.section-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-row-1{
    margin-bottom: 45px;
}

.section-col-1{
    width: 746px;
}

.section-col-2{
    width: 416px;
}

.section-header{
    border-bottom: 3px solid #000000;
}

.section-header h3{
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 4px;
}

.section-address-input{
    width: 100%;
    padding: 30px 40px;
}

.section-address-input-item{
    display: flex;
    padding: 12px 0;
    justify-content: space-between;
    align-items: center;
}

.section-address-input-item input{
    width: 556px;
    height: 36px;
    border: 1px solid #343434;
    padding: 0 12px;
}

.section-address-input-item-fail{
    border: 1px solid #f44336;
}

.section-address-input-note{
    align-items: flex-start;
}

.section-address-input-note-header{
    padding-top: 7px;
}

.section-address-input-note textarea{
    height: 136px;
    width: 556px;
    resize: none;
    border: 1px solid #343434;
    padding: 7px 12px;
}

.section-payment-option{
    margin-top: 24px;
}

.section-payment-option-item{
    width: 100%;
    height: 38px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-payment-option-item-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2.5px solid #343434;
    margin-right: 30px;
    background-color: #ffffff;
    cursor: pointer;
}

.section-payment-option-item-thumb-selected{
    border: 5px solid #343434;
}

.section-product-header{
    margin-bottom: 12px;
}

.section-product-list-item{
    width: 746px;
    height: 162px;
    padding: 12px 56px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #999999;
}

.product-item-image{
    width: 102px;
    height: 136px;
}

.product-item-text{
    margin-left: 24px;
    padding: 4px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item-text-detail-row-1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.product-item-text-detail-row-1-name{
    margin-right: 8px; 
}

.product-item-text-detail-row-2{
    display: flex;
}

.product-item-text-detail-row-2-brand{
    margin-right: 8px;
}

.product-item-text-remove p{
    color: #666666;
    cursor: pointer;
}

.product-item-right{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 34px;
    margin-left: 32px;
    border: 2px solid #343434;
}

.product-item-count img{
    margin: 0;
    cursor: pointer;
}

.product-item-count-num{
    width: 30px;
    height: 30px;
    background-color: #343434;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-total{
    margin-left: auto;
}

.section-summary-header{
    margin-bottom: 24px;
}

.section-summary-info-list{
    padding: 0 24px;
    padding-bottom: 16px;
    border-bottom: 2px solid #999999;
}

.section-summary-info-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-summary-info-list-item-text{
    display: flex;
}

.section-summary-info-list-item-count{
    margin-right: 14px;
}

.section-summary-info-total{
    padding: 0 24px;
    padding-top: 8px;
}

.section-summary-info-total-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.section-summary-info-total-vat{
    margin-top: 0;
    justify-content: flex-end;
    color: #666666;
}

.purchase{
    margin-top: 45px;
    width: 100%;
    height: 48px;
    border: 2px solid #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.more{
    margin-top: 32px;
    width: 100%;
    height: 48px;
    border: 2px solid #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.section-row-2 button:hover{
    background-color: #343434;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media(max-width: 1300px){
    .section-1{
        margin-bottom: 60px;
    }
    .section-col-1{
        width: 100%;
    }
    .section-col-2{
        width: 100%;
    }
    .section-address-input-text{
        /* margin-left: 18px; */
        width: 80%;
    }
    .section-address-input-item input{
        width: 100%;
    }
    .section-address-input-item textarea{
        width: 100%;
    }
    .section-product-list-item{
        margin: 0 auto;
    }
    .section-product{
        margin-bottom: 40px;
    }
    .section-product-header{
        margin-bottom: 20px;
    }
    .section-summary-info, .section-summary button{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 1200px){
    .remove-contain{
        padding: 100px calc(40px + 12%);
    }
}

@media(max-width: 900px){
    .remove-overlay{
        display: none;
    }
    .remove-contain{
        height: 100%;
        width: 100%;
        padding: 0 10%;
    }
    .remove-button button{
        max-width: 300px;
    }
    .section-product-list-item{
        padding: 12px 8px;
        width: 100%;
        max-width: 600px;
    }
    .product-item-text{
        margin-left: 12px;
        margin-right: 12px;
        padding: 8px 0;
    }
    .product-item-text-detail-row-1{
        margin-bottom: 8px;
    }
    .product-item-right{
        margin-left: auto;
        flex-grow: 0;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .product-item-count{
        width: 94px;
        margin-left: 0;
        margin-top: 16px;
    }
}

@media(max-width: 700px){
    .section-address-input{
        padding: 20px 0;
    }
    .remove-button{
        flex-direction: column;
    }
    .remove-button button{
        width: 80%;
        margin-bottom: 40px;
    }
}

@media(max-width: 550px){
    .section-summary button{
        height: 42px;
    }
}

@media(max-width: 500px){
    .product-item-text-detail-row-2-brand{
        margin-right: 6px;
    }
}